<div id="title">
    <h1 id="titleText">Game Swapper</h1>
    <img src="/resources/swap.png" width="50" height="50" class="pic" alt="swap" id="floatPicLeft">
    <div id="signInTextFloat">
      <% if(user === null || user === ""){ %>
    <p id="signInText">Not signed in.</p>
    <% }else{ %>
      <p id="signInText2">Welcome <%= user.fname %>!</p>
      <% } %>
    </div>

</div>
