<div id="floatLeft">

    <a href="index">Home</a><br><br>
    <a href="categories">Categories</a><br><br>
    <a href="store">Store</a><br><br>
    <a href="about">About Us</a><br><br>
    <a href="contact">Contact Us</a>

</div>
