<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>About</title>
</head>

<body id="wrapper">
	<header>
    <link rel="stylesheet" href="/resources/indexCSS.css" type="text/css">

    <% include partials/header.ejs %>

    <% include partials/user-navigation.ejs %>

        <div id="fillerTop">

        </div>
	</header>

	<main>
    <% include partials/site-navigation.ejs %>

        <div id="filler">

        </div>

        <div id="floatRight">
            <h5>Home > About</h5>
            <h1><b>Our Goal</b></h1>
            <p id="text">We wanted to make this website to give people an easier way to buy and give away their games.<br><br>
            We understand that it is not always convenient to go to the store to shop and sell your games so we decided to make it so you could manage your games online.</p>
        </div>

        <div id="fillerBottom">

        </div>

	</main>

  <% include partials/footer.ejs %>


</body>
</html>
