<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Cart</title>
</head>

<body id="wrapper">
	<header>
    <link rel="stylesheet" href="/resources/indexCSS.css">

    <% include partials/header.ejs %>


    <% include partials/user-navigation.ejs %>

        <div id="fillerTop">

        </div>
	</header>

	<main>

    <% include partials/site-navigation.ejs %>

        <div id="filler">

        </div>
        <div id="floatRight">
            <h5>Home > Cart</h5>
            <p>Cart with the games the user wants to buy</p>

        </div>

        <div id="fillerBottom">

        </div>

	</main>

  <% include partials/footer.ejs %>


</body>
</html>
