#selectedGenre
{
    margin-bottom: 20px;
}

.catLink:hover
{
    color: blue;
}
.catLink
{
    text-decoration: underline;
    color: deepskyblue;
}

li
{
  margin-bottom: 20px;
    list-style-type: none;
    font-size: 20px;
}
.catLink:hover a
{
    color: blue;
}
.catLink a
{
    text-decoration: underline;
    color: deepskyblue;
}
label
{
    font-size: 30px;
}
