#title
{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-top: solid 4px black;
    border-right: solid 4px black;
    border-left: solid 4px black;
    background-color: #CC51FE;
    height: 100px;
}

a
{
    text-decoration: none;
    padding: .5cm;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

a:hover
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
p
{
    font-size: 25px;
}
#links
{
    border-top: solid 4px black;
    border-right: solid 4px black;
    border-left: solid 4px black;
    text-align: center;
    font-size: 25px;
    padding: 4px;
    height: 50px;
    background-color: #AB44D5;
    clear: both;




}
.insideLinks
{
    margin-top: 8px;
}

#floatLeft
{
    float: left;
    height: 1118px;
    width: 180px;
    padding: 16px;
    border-left: solid 4px black;
    font-size: 25px;
    background-color: #CC51FE;
    border-right: solid 2px black;
    border-top: solid 0px black;
    border-bottom: solid 0px black;



}

#floatRight
{
    float: right;
    border: solid 2px black;
        border-top: solid 0px black;
    border-bottom: solid 0px black;

    width: 1065px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: 1150px;
    background-color: white;



}
#wrapper
{
    margin-left: auto;
    margin-right: auto;
    width: 1340px;

}
#filler
{
    background-color: #CC51FE;
        border-right: solid 4px black;
    border-left: solid 2px black;
    border-top: solid 0px black;
    border-bottom: solid 0px black;

    float: right;
    width: 15px;
    height: 1150px;
    background-color: #CC51FE;


}

#fillerTop
{
    border-top: solid 4px black;
    background-color: #CC51FE;
    border-right: solid 4px black;
    border-left: solid 4px black;

    height: 0px;
}
#fillerBottom
{
    height: 0px;
    background-color: #CC51FE;
    clear: both;
    border-left: solid 4px black;
    border-right: solid 4px black;



}
footer
{

    padding-left: 16px;
        font-family: Arial, Helvetica, sans-serif;
    background-color: #AB44D5;

        border: solid 2px black;
        border-top: solid 4px black;

border-bottom: solid 4px black;
    border-right: solid 4px black;
    border-left: solid 4px black;
    clear: both;
}

#signInText2
{
    margin-left: 1px;
    font-size: 14px;
    height: 75px;
    float: right;
}
#signInText
{
    margin-left: 1px;
    font-size: 14px;
    height: 75px;
    float: right;
}
#floatPicLeft
{
    float: left;
    height: 75px;
    width: 75px;
    margin-left: 8px;
    margin-top: 4px;
    border: solid 6px white;
    border-radius: 56px;

}

#titleText
{
    float: left;
    font-size: 38px;
    margin-left: 530px
}
